@model IEnumerable<ReservationDto>
@inject IWorkplaceService workplaceService
@{
	ViewData["Title"] = "Reservations";
	var obj = Model;
	var uniqueFloors = workplaceService.GetUniqueFloors();
}
@if (TempData["success"] != null)
{
	<h2>
		@TempData["success"]
	</h2>
}
<div class="text-center">

	<table class="table table-bordered table striped" style="width:100%">
		<thead>
			<tr>

				<th>
					Employee
				</th>
				<th>
					Workplace
				</th>
				<th>
					From 
					<a asp-controller="Reservation" asp-action="Index" asp-route-sortDirect="asc"><i class="fa-solid fa-arrow-up"></i></a>
					<a asp-controller="Reservation" asp-action="Index" asp-route-sortDirect="desc"><i class="fa-solid fa-arrow-down"></i></a>
				</th>
				<th>
					To
				</th>
				
			</tr>
		</thead>
		<tbody>
			@if (Model != null)
			{

				@foreach (var item in obj)
				{
					<tr>
						<td width="30%">
							@item.FirstName @item.LastName
						</td>
						<td width="30%">
							Floor: @item.Floor, Room: @item.Room, Table: @item.Table
						</td>
						<td width="20%">
							@item.TimeFrom.ToString("dd-MM-yyyy")
						</td>
						<td width="20%">
							@item.TimeTo.ToString("dd-MM-yyyy")
						</td>
						<td>
							
								<a asp-controller="Reservation" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
							
						</td>
					</tr>

				}
			}
		</tbody>
		
	</table>
		
	@using (Html.BeginForm("Filter","Reservation"))
{
		<label>Floor</label>
		<input type="number" name="floorF" />
		<label>Room</label>
		<input type="number" name="roomF" />
		<label>Table</label>
		<input type="number" name="tableF" />
		<input class="btn btn-secondary" type="submit" value="Filter" />
}
	<a asp-controller="Reservation" asp-action="Create" class="btn btn-primary">
		Create Reservation
	</a>
</div>
